extends layout

block content

    .dashboard-wrapper 
        .grid-container.dashboard
            .menu-icon
                i.fas.fa-bars.header__menu
            header.header
                .header__search 
                .header__avatar 
            aside.sidenav
               
                ul.sidenav__list
                    
                    li.sidenav__list-item 
                        a(href="/database/resources") Resources
                        svg.size-5.arrow(
                        fill="currentColor" 
                        viewBox="0 0 20 20" 
                        xmlns="http://www.w3.org/2000/svg"
                        )
                            path(
                            clip-rule="evenodd" 
                            d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" 
                            fill-rule="evenodd"
                            )

                    li.sidenav__list-item 
                        a(href="/database/authors") Authors
                        svg.size-5.arrow(
                        fill="currentColor" 
                        viewBox="0 0 20 20" 
                        xmlns="http://www.w3.org/2000/svg"
                        )
                            path(
                            clip-rule="evenodd" 
                            d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" 
                            fill-rule="evenodd"
                            )
                    li.sidenav__list-item
                        a(href="/database/types") Types
                        svg.size-5.arrow(
                        fill="currentColor" 
                        viewBox="0 0 20 20" 
                        xmlns="http://www.w3.org/2000/svg"
                        )
                            path(
                            clip-rule="evenodd" 
                            d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" 
                            fill-rule="evenodd"
                            )
                    li.sidenav__list-item
                        a(href="/database/courses") Subjects
                        svg.size-5.arrow(
                        fill="currentColor" 
                        viewBox="0 0 20 20" 
                        xmlns="http://www.w3.org/2000/svg"
                        )
                            path(
                            clip-rule="evenodd" 
                            d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" 
                            fill-rule="evenodd"
                            )
             
            main.main
                .main-header
                    img(src="/images/mouseclick.png", alt="")
                    div
                        h3.main-header__heading Welcome back !{currentUser.username}! 
                        .main-header__updates Last Login: 05/27/2024
                    
                .main-overview
                    .overviewcard
                        h3.overviewcard__icon Resources
                        .overviewcard__info 73
                    .overviewcard
                        h4.overviewcard__icon Types
                        .overviewcard__info 25
                    .overviewcard
                        h4.overviewcard__icon Tags
                        .overviewcard__info 4
                    .overviewcard
                        h4.overviewcard__icon Authors
                        .overviewcard__info 7
                .main-cards
                    .card Recently Added: Resources
                    .card Recently Added: Authors
                    .card Recently Added: Subjects
            footer.footer
                .footer__copyright 
                .footer__signature 


    