extends layout

block content

  section#welcome.grid
    .welcome-text
      h2
        | A Curated Collection of Web Development Materials
        
      p.leading
        | Access the best free learning resources via a convenient search feature.
        
      a.button(href="#materials") Explore Database
    .welcome-img
      img(
        alt="mouseclick image" 
        src="../images/mouseclick.png"
        )
  section#materials
    h3 Materials in this Database
    .projects.grid
      a(href="/database/resources/node")
        h4 Node
      a(href="/database/resources/react")
        h4 React
      a(href="/database/resources/javascript")
        h4 JavaScript
      a(href="/database/resources/advancedhtmlandcss")
        h4 Advanced HTML & CSS
      a(href="/database/resources/intermediatehtmlandcss")
        h4 Intermediate HTML & CSS
      a(href="/database/resources/foundations")
        h4 Foundations
      a(href="/database/resources/gettinghired")
        h4 Getting Hired
  section#purpose
    h3 Collections & Document Counts
    ul.grid
      li
        a(href="#portfolio").button !{course_count}
        h4 Subjects
      li
        a(href="/database/resources").button !{resource_count}
        h4 Resources
      li
        a(href="/database/types").button !{type_count}
        h4 Resource Types
      li
        a(href="/database/authors").button !{owner_count}
        h4 Authors
    p.leading
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla
      |   lacus diam. Mauris fringilla consectetur nibh, sit amet tempus augue.
  section#contact
    h3 Get In Touch
    p.leading Send me your comment or feedback about this database!
    form
      input(
        placeholder="NAME" 
        type="text"
        )
      input(
        placeholder="EMAIL" 
        type="email"
        )
      textarea(placeholder="YOUR MESSAGE")
      button.button Send Message