extends layout

block content


  nav.site-nav.grid
    h1 ReferenceTOP
    ul
      li
        a(href="#portfolio") Database
      li
        a(href="#skills") Purpose
      li
        a(href="#contact") Contact
  section#welcome.grid
    .welcome-text
      h2
        | Quickly reference TOP Learning Materials
        
      p.leading
        | Access The Odin Project materials via a convenient search feature.
        
      a.button(href="#portfolio") Explore Database
    .welcome-img
      img(
        alt="mouseclick image" 
        src="../images/mouseclick.png"
        )
  section#portfolio
    h3 Course Materials in the Database
    .projects.grid
      a(href="#")
        h4 Node Course
      a(href="#")
        h4 React Course
      a(href="#")
        h4 JavaScript Course
      a(href="#")
        h4 Advanced HTML & CSS Course
      a(href="#")
        h4 Intermediate HTML & CSS Course
      a(href="#")
        h4 Foundations Course
      a(href="#")
        h4 Getting Hired Course
  section#skills
    h3 Things I Can Do
    ul.grid
      li
        img(
          alt="comet" 
          src="assets/comet_1.svg"
          )
        h4 JavaScript
      li
        img(
          alt="comet" 
          src="assets/comet_2.svg"
          )
        h4 React
      li
        img(
          alt="comet" 
          src="assets/comet_3.svg"
          )
        h4 Firebase
      li
        img(
          alt="comet" 
          src="assets/comet_4.svg"
          )
        h4 Flutter
    p.leading
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla
      |   lacus diam. Mauris fringilla consectetur nibh, sit amet tempus augue.
  section#contact
    h3 Get In Touch
    p.leading Lorem ipsum dolor sit amet, consectetur.
    form
      input(
        placeholder="NAME" 
        type="text"
        )
      input(
        placeholder="EMAIL" 
        type="email"
        )
      textarea(placeholder="YOUR MESSAGE")
      button.button Send Flare
  footer
    .grid
      p.copyright Copyright 2020 Cosmo Junkie
      ul.social
        li
          a(href="#")
            img(
              alt="facebook" 
              src="assets/icon_fb.svg"
              )
        li
          a(href="#")
            img(
              alt="twitter" 
              src="assets/icon_tw.svg"
              )