extends layout

block content


  //- nav.site-nav.grid
  //-   h1 ReferenceTOP
  //-   ul
  //-     li
  //-       a(href="#portfolio") Database
  //-     li
  //-       a(href="#skills") Purpose
  //-     li
  //-       a(href="#contact") Contact
  section#welcome.grid
    .welcome-text
      h2
        | Quickly reference TOP Learning Materials
        
      p.leading
        | Access The Odin Project materials via a convenient search feature.
        
      a.button(href="#portfolio") Explore Database
    .welcome-img
      img(
        alt="mouseclick image" 
        src="../images/mouseclick.png"
        )
  section#portfolio
    h3 Course Materials in this Database
    .projects.grid
      a(href="/database/resources/node")
        h4 Node Course
      a(href="/database/resources/react")
        h4 React Course
      a(href="/database/resources/javascript")
        h4 JavaScript Course
      a(href="/database/resources/advancedhtmlandcss")
        h4 Advanced HTML & CSS Course
      a(href="/database/resources/intermediatehtmlandcss")
        h4 Intermediate HTML & CSS Course
      a(href="/database/resources/foundations")
        h4 Foundations Course
      a(href="/database/resources/gettinghired")
        h4 Getting Hired Course
  section#skills
    h3 Collections & Document Counts
    ul.grid
      li
        a(href="#portfolio").button !{course_count}
        h4 Courses
      li
        a(href="/database/resources").button !{resource_count}
        h4 Resources
      li
        a(href="/database/types").button !{type_count}
        h4 Resource Types
      li
        a(href="/database/authors").button !{owner_count}
        h4 Authors
    p.leading
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla
      |   lacus diam. Mauris fringilla consectetur nibh, sit amet tempus augue.
  section#contact
    h3 Get In Touch
    p.leading Lorem ipsum dolor sit amet, consectetur.
    form
      input(
        placeholder="NAME" 
        type="text"
        )
      input(
        placeholder="EMAIL" 
        type="email"
        )
      textarea(placeholder="YOUR MESSAGE")
      button.button Send Flare
  //- footer
  //-   .grid
  //-     p.copyright Copyright 2020 Cosmo Junkie
  //-     ul.social
  //-       li
  //-         a(href="#")
  //-           img(
  //-             alt="facebook" 
  //-             src="assets/icon_fb.svg"
  //-             )
  //-       li
  //-         a(href="#")
  //-           img(
  //-             alt="twitter" 
  //-             src="assets/icon_tw.svg"
  //-             )