extends layout

block content

  section#welcome.grid
    .welcome-text
      h2
        | Web Developer Database 
        
      p.leading
        | A collection of amazing & free web development learning resources that are worth saving.
        
      div.call-to-action 
        a.button(href="/database/resources") Explore Database
        a(href="/users/login").login-button Login
    .welcome-img
      img(
        alt="mouseclick image" 
        src="../images/mouseclick.png"
        )
  section#topics
    h3 Topics in the Database
    .topics.grid
      a(href="/database/resources/computerbasics")
        h4 Computer Basics
      a(href="/database/resources/programminglanguages")
        h4 Programming Languages
      a(href="/database/resources/problemsolving")
        h4 Problem Solving
      a(href="/database/resources/htmlandcss")
        h4 HTML & CSS
      a(href="/database/resources/javascript")
        h4 JavaScript
      a(href="/database/resources/react")
        h4 Frontend Frameworks
      a
        h4
          | ...and 
          span more!
    
  section#collections
    h3 Database Collections
    ul.grid
   
      li
        a(href="/database/resources").button !{resource_count}
        h4 Resources
      li
        a(href="/database/types").button !{type_count}
        h4 Resource Types

      li
        a(href="#portfolio").button !{tag_count}
        h4 Tags
      li
        a(href="/database/authors").button !{author_count}
        h4 Authors
    p.leading
      | External contributions are welcome to make this database great. 
      p Submit a resource or author you think others should know about!

  section#contact.contact-grid
    h3 Get In Touch
    p.leading Comment? Feedback? Broken link? I'd like to hear about it.
    form.form-container
      input(
        placeholder="Name" 
        type="text"
        )
      input(
        placeholder="Email" 
        type="email"
        )
      input(type="text" placeholder="Your message")
      button.button Submit