doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.site-nav.grid
      h1 ReferenceTOP
      ul.nav-content
        li.dropdown
          a(href="#portfolio").dropbtn.nav-item Database
          ul.dropdown-content
            a(href="#portfolio")  Explore Database 
            a(href="/database/resource/create")  Add New Resource 
            a(href="/database/author/create")  Add New Author

        li
          a(href="#skills").nav-item Purpose
        li
          a(href="#contact").nav-item Contact
    block content
    footer.grid
      p.copyright Copyright 2020 Cosmo Junkie
      ul.social
        li
          a(href="#")
            img(
              alt="facebook" 
              src="assets/icon_fb.svg"
              )
        li
          a(href="#")
            img(
              alt="twitter" 
              src="assets/icon_tw.svg"
              )