doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', href='/javascripts/classNames.js')
  body
    nav.site-nav.grid
      h1 
        a(href="/database") CurateWeb
      ul.nav-content
        li.dropdown
          a(href="#materials").dropbtn.nav-item Database
          ul.dropdown-content
            a(href="#materials")  Explore Database 
            a(href="/database/resource/create")  Add New Resource 
            a(href="/database/author/create")  Add New Author

        li
          a(href="#purpose").nav-item Purpose
        li
          a(href="#contact").nav-item Contact
    block content
    footer.grid
      p.copyright Copyright 2024 Marisa Minard
      ul.social
        li
          a(href="#")
            img(
              alt="social link" 
              src="assets/icon_fb.svg"
              )
        li
          a(href="#")
            img(
              alt="social link" 
              src="assets/icon_tw.svg"
              )