extends layout

block content
  h1  #{resource.name}

  p #[strong Author: ]
    a(href=resource.author.url) #{resource.author.name}
  p #[strong Type:] #{types}
  p #[strong Tags: ] #{tags}
  p #[strong Href: ] #{resource.href}

  a(href="/database/resource/create") Create a new resource 
  a(href="/database/resources") Back to resource list

  p 
    a(href=resource.url+'/delete') Delete resource
   



