extends layout

block content
  h1  #{resource.name}

  p #[strong Owner: ]
    a(href=resource.owner.url) #{resource.owner.owner}
  p #[strong Type:] #{resource.type.type}
  p #[strong In Course: ] #{resource.course.course}

  a(href="/database/resource/create") Create a new resource 
  a(href="/database/resources") Back to resource list

  p 
    a(href=resource.url+'/delete') Delete resource
   


.
