extends layout

block content
  h1= title
  a(href="/database/resource/create") + Create new resource
  if resource_list.length
    ul
      each resource in resource_list
        li
          a(href=resource.url) #{resource.course.course}: #{resource.name} (#{resource.owner.owner})

  else
    p There are no resources.