extends layout

block content

    form(
    method="post" 
    action="/users/login"
    style="border:1px solid #ccc"
    ).login.form-container
        h1 Login
        p Please login to your account.
        hr
        label(for="username")
        b Username
        input( 
        name="username" 
        placeholder="Enter Username" 
        type="text"
        value=(undefined===username ? '' : username)
        required
        )
        label(for="password")
        b Password
        input(
        required="" 
        name="password" 
        placeholder="Enter Password" 
        type="password"
        )
        button.button(type="submit") Login
        button.button.cancelbtn(type="button")
            a(href="/database") Cancel
        | Don't have an account? 
        a(href="/users/signup").register-button Sign up 
    if messages
        p !{messages}
        